.buttonStyle {
  display: block;
  border: none;
  background: var(--primary);
  font-family: var(--primaryFont);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 9px 0;
}